{% extends './../shared/layoutAdmin.html' %}

{%block title%}
{{ title }}
{%endblock%}

{% block head %}
<link href="/libs/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet"/>
<link href="/libs/sweetalert/dist/sweetalert.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>{{ __('admin.articlemanage.post') }}</h2>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div id="toolbar">
                        <button id="remove" disabled="" class="btn btn-white">
                            <i class="fa fa-trash-o"></i><span class="badge"></span>
                        </button>
                        <a href="/admin/newarticle" class="btn btn-white">
                            <i class="fa fa-plus"></i>{{ __('admin.articlemanage.new_article') }}
                        </a>
                    </div>
                    <table id="articles"></table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/libs/bootstrap-table/dist/bootstrap-table.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/lodash/dist/lodash.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/sweetalert/dist/sweetalert.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/articlemanage.js" charset="utf-8"></script>
{% endblock %}