{% extends './../shared/layoutAdmin.html' %}

{% block header %}
<title>{{ title }}</title>
<link href="/libs/sweetalert/dist/sweetalert.css" rel="stylesheet"/>
<link href="/libs/form.validation/dist/css/formValidation.min.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>{{__("admin.newarticle.new")}}</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="postForm" action="/admin/saveArticle" method="post">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="Title">{{ __("admin.newarticle.title") }}</label>
                                    <input id="Title" type="text" name="Title"
                                           placeholder="{{ __('admin.newarticle.enter_title') }}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/libs/form.validation/dist/js/formValidation.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/form.validation/dist/js/framework/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/form.validation/dist/js/language/zh_CN.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/admin.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/ueditor.config.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/ueditor.all.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/dialogs/insertalert/insertalert.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/dialogs/inserticon/inserticon.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/dialogs/insertlabel/insertlabel.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/sweetalert/dist/sweetalert.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/js-md5/js/md5.min.js" charset="utf-8"></script>
<!--<script>var translateKey = '@config.TranslateKey';</script>-->
<script type="text/javascript" src="/javascripts/newarticle.js" charset="utf-8"></script>
{% endblock %}